---
# Styles for default layout
---
// imports
@import 'bootstrap';
@import 'row-equal-height';
@import 'navigation';

$bg-color: #ECEDED;
$link-color: #1288B1;
$text-color: #363737;

body {
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;; 
}

p {
  opacity: .8;
}

#main-container {
  margin: 0 15%;

  @media screen and (max-width: 768px) {
    margin: 0 5%;
  }
}

.resource {
  margin-top: 5%;
  width: 100%;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin-bottom: 0;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 70%;
  }

  img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 40%;
  }

  #more-row {
    text-align: center;
  }

  .btn {
    background-color: $bg-color;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(236,237,237,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(236,237,237,1);
    box-shadow: 2px 2px 2px 0px rgba(236,237,237,1);
    margin-right: 5px;
    margin-bottom: 7px;

    &#wiki-button {
      display: inline-block;
    }
  }

  .header {
    p {
      margin-top: 30px;
    }
  }

  .subheader {
    margin-bottom: 20px;
  }

  &.card {
    -webkit-box-shadow: 2px 2px 5px 2px #DDD;
    -moz-box-shadow: 2px 2px 5px 2px #DDD;
    box-shadow: 2px 2px 5px 2px #DDD;
    padding: 5% 10%;
  }
}

.resource-links {
  width: 100%;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  h5 {
    text-align: center;
  }

  hr {
    margin-top: 50px;
    width: 70%;
  }

  img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 50%;

    &#node-image {
      width: 60%;
    }

    &#more-image {
      padding-top: 7.5%;
      width: 40%;
    }
  }

  .card {
    margin: 7px;
    padding: 10px;
    height: 100%;
    
    -webkit-box-shadow: 2px 2px 5px 2px #DDD;
    -moz-box-shadow: 2px 2px 5px 2px #DDD;
    box-shadow: 2px 2px 5px 2px #DDD;

    &:hover {
      opacity: 0.7;
    }
  }
}

.footer {
  height: 40px;
}