---
# Styles for default layout
---
// imports
@import 'bootstrap';
@import 'navigation';

$bg-color: #ECEDED;
$link-color: #1288B1;
$text-color: #363737;

a {
  color: $link-color;
}

body {
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;; 
}

hr.line-break {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#developer-resources {
  width: 75%;
  text-align: center;
}

#resource-links {
  margin: auto;
}

#resources-internal {
  text-align: center;

  img {
    width: 60%;
  }
}

#resources-external {
  text-align: center;
  
  img {
    width: 60%
  }
}

.resources {
  text-align: center;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a.button {
    background-color: $bg-color;
    color: $text-color;

    &:hover {
      background-color: $text-color;
      color: $bg-color;
    }
  }

  a.path-link {
    color: $text-color;
  }
}

div#arrow {
  text-align: center;

  h2 {
    padding: 0;
  }
}

div.footer {
  background-color: #ECEDED;
  margin-top: 40px;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 40px;

  h2 {
    margin: 10px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    padding-left: 5px;
  }

  .other {
    margin-left: 12.5%;
  }
}