<nav id="bar">
  <a href="{{ site.dynamo | append: "/learn/#developer"}}" id="back-arrow" class="brand">
    &#8592;
  </a>

  <script>
    var url = window.location.href;
    var back = document.getElementById('back-arrow');
    if(url.search('learn') > 0) {
      back.style.display = "block";
    }
  </script>
  
  <a href="{{ site.dynamo }}" title="Dynamo BIM" rel="home" class="brand">
    <img src="images/logo.png" alt="Dynamo BIM" class="logo" />
  </a>

  <!-- responsive -->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">
    <h1>&#8801;</h1>
  </label>

  <div class="menu right">
    <a href="{{ site.twitter }}" class="pseudo button social">
      <img src="images/twitter.png" alt="Twitter" />
    </a>
    <a href="{{ site.facebook }}" class="pseudo button social">
      <img src="images/facebook.png" alt="Facebook" />
    </a>
    <a href="{{ site.dynamo | append: "/download/"}}">Download</a>
  </div>
</nav>
