<nav id="navbar-custom" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dynamobim-collapse" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.dynamo }}" title="Dynamo BIM" rel="home" class="navbar-brand">
        <img src="images/logo.png" alt="Dynamo BIM" class="logo" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="dynamobim-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.dynamo | append: "/learn/"}}">Learn</a></li>
        <li><a href="{{ site.dynamo | append: "/explore/"}}">Explore</a></li>
        <li><a href="{{ site.dynamo | append: "/gallery/"}}">Gallery</a></li>
        <li><a href="{{ site.dynamo | append: "/blog/"}}">Blog</a></li>
        <li><a href="{{ site.dynamo | append: "/help-center/"}}">Help Center</a></li>
        <li><a href="{{ site.forums }}">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm hidden-xs">
          <a href="{{ site.twitter }}" class="social">
            <img src="images/twitter.png" alt="Twitter" />
          </a>
        </li>
        <li class="hidden-sm hidden-xs">
          <a href="{{ site.facebook }}" class="social">
            <img src="images/facebook.png" alt="Facebook" />
          </a>
        </li>
        <li class="hidden-sm hidden-xs">
          <a href="{{ site.dynamo | append: "/download/"}}" class="btn btn-default navbar-btn btn-round-outline">Download</a>
        </li>
        <li class="hidden-md hidden-lg">
          <a href="{{ site.dynamo | append: "/download/"}}">Download</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
