nav#bar {
  @media (max-width: 60em) {
    .show:checked ~ .burger {
      h1 {
        padding-right: 10.56px;
      }
    }

    .show:checked ~ .menu {
      background-color: #323232;
      width: auto;

      &.right {
        display: none;
      }

      img {
        display: none;
      }
    }
  }

  background-color: #323232;
  box-shadow: none;
  height: 60px;
  position: absolute;

  .burger {
    color: #fff;

    h1 {
      float: right;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  img.logo {
    height: 25px;
  }

  .menu {
    &.left {
      @media (max-width: 60em) {
        margin-top: 60px;
      }

      float: left;
    }

    a {
      color: rgba(255, 255, 255, 0.7);
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 12px;
      padding: 20px 10px;

      &:hover {
        color: #fff;
      }

      &.social {
        padding: 0px;
      }

      img {
        height: 50%;
        opacity: 0.7;
        padding-top: 5px;
        width: 50%;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
